{:paths ["src"]
 :aliases
 {:check {:main-opts ["-m" "speclj-structure-check.core"]}
  :spec {:extra-paths ["spec"]
         :extra-deps {speclj/speclj {:mvn/version "3.10.0"}}
         :main-opts ["-m" "speclj.main" "-c"]}}}
